name: Sentry release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: node-template
    defaults:
      run:
        working-directory: ./app
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: '17'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Print
        run: ls -al

      - name: pwd
        run: pwd

      - name: Sentry release
        uses: getsentry/action-release@v1.1.6
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ github.repository_owner }}
          SENTRY_PROJECT: ${{ env.IMAGE_NAME }}
        with:
          environment: 'production'
          sourcemaps: 'app/dist'
          url_prefix: '/app/dist'
          version: ${{ github.sha }}
